<table class="ng2-pg-table table table-bordered table-hover" [id]="tableId">

    <thead>
        <tr>
            <th table-search *ngFor="let column of config['columns']" [column]="column" [items]="localDataCopy" [filterPlaceholder]="config.globalSettings.filterPlaceholder"
                [tableBroadcaster]="tableBroadcaster"></th>
        </tr>
        <tr>
            <th table-column *ngFor="let column of config['columns']" [modelColumnName]="column.name" [objectPath]="column.objectPath" [items]="data" [tableBroadcaster]="tableBroadcaster"></th>
        </tr>
    </thead>

    <tbody [hidden]="!dataCanBeShown()" (mouseleave)="hideFloatingMenu()">
        <tr table-row *ngFor="let entity of dataToShow" [tableNumber]="tableNumber" [item]="entity" [class.selected]="entity['selected']" [tableBroadcaster]="tableBroadcaster" [floatingMenuId]="floatingMenuId" [selectMode]="config.globalSettings.select">
            <td *ngFor="let column of config.columns">{{getProperty(entity, column.objectPath)}}</td>
        </tr>
        <tr style="display: block;">
            <table-floating-menu class="table-floating-menu" [id]="floatingMenuId" [components]="config.floatingButtonsComponents" [tableBroadcaster]="tableBroadcaster"></table-floating-menu>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td  [attr.colspan]="config && config.columns && config.columns.length">
                <span [hidden]="dataCanBeShown()" *ngIf="config && config.globalSettings && config.globalSettings.noDataMessage">{{config.globalSettings.noDataMessage}}</span>
                <table-pagination (itemsPaged)="updateDataToShow($event)" [items]="data" [paginationLimit]="paginationLimit" [tableBroadcaster]="tableBroadcaster"></table-pagination>
            </td>
        </tr>
    </tfoot>
</table>
